<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.yn_yuzhilai">
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
   <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NextActivity"></activity>
        <activity android:name=".activity.TwoActivity">

        </activity>
        <!-- 注册SDKActivity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1105602574" /> <!-- 开放平台获取的APPID -->
            </intent-filter>
        </activity>
        <activity android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".activity.Xiang_Activity"></activity>
        <activity android:name=".activity.Xiang_JActivity"></activity>
        <activity android:name=".activity.ClassActivity"></activity>
        <activity android:name=".activity.Class1Activity"></activity>
        <activity android:name=".activity.Class2Activity"></activity>
        <activity android:name=".activity.ZhiFuActivity"></activity>
        <activity android:name=".activity.LogActivity"></activity>
        <activity android:name=".activity.RegActivity"></activity>
        <activity android:name=".mine.GouActivity"></activity>
        <activity android:name=".mine.KeActivity"></activity>
        <activity android:name=".mine.SheActivity"></activity>
        <activity android:name=".mine.ShouActivity"></activity>
        <activity android:name=".mine.VIPActivity"></activity>
        <activity android:name=".mine.XiaActivity"></activity>
        <activity android:name=".mine.XiaoActivity"></activity>

        <activity android:name=".mine.XiuActivity"></activity>
        <activity android:name=".activity.ChongActivity"></activity>
        <activity android:name=".activity.ChongActivity1"></activity>
    </application>

</manifest>